charset-normalizer==3.4.1
contourpy==1.3.1
cycler==0.12.1
dearpygui==2.0.0
docopt==0.6.2
fonttools==4.55.3
kiwisolver==1.4.8
matplotlib==3.10.0
outcome==1.3.0.post0
pillow==11.0.0
pipdeptree==2.24.0
pipreqs==0.4.13
pyparsing==3.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
python-dotenv==1.0.1
selenium==4.29.0
setuptools==72.1.0
sortedcontainers==2.4.0
token-bucket==0.3.0
tqdm==4.67.1
trio==0.29.0
trio-websocket==0.12.1
wheel==0.44.0
wsproto==1.2.0
yarg==0.1.10
zstandard==0.23.0
